<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <!-- Estilo personalizado -->
    <link rel="stylesheet" href="css/lordhackobo.css">

    <title>{{ titulo }}</title>
    <!-- Image and text -->
</head>

<body class="bg-secondary">
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-sm navbar-light bg-primary row align-items-center">
        <div class="container">
          {{#if user}}
            <div class="col m-2 text-right">
              <h3><span class="badge badge-info">Hola {{user.name}}</span></h3>
              <a href="/" class="btn btn-primary btn-lg border border-white" role="button" aria-pressed="true">Preguntar</a>
              <a href="/logout" class="btn btn-primary btn-lg border border-white ml-2" role="button" aria-pressed="true">Salir</a>
            </div>
          {{else}}
            <div class="col m-2 text-right">
              <a href="/login" class="btn btn-primary btn-lg border border-white" role="button" aria-pressed="true">Login</a>
              <a href="/register" class="btn btn-primary btn-lg border border-white ml-2" role="button" aria-pressed="true">Registrarse</a>
            </div>
          {{/if}}
        </div>
      </nav>
    </div>
  </header>

  <main role="main" class="container-fluid">
    {{{content}}}
  </main>

  <footer class="footer swatch-900 mt-4">
    <div class="container">
      <p>Falta mucho por aprender!</p>
    </div>
  </footer>
  
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
      crossorigin="anonymous"></script>
  </body>
  

</html>